<div class="all">
    <div class="header">
      <h2>Lista Zleceń</h2>
      </div>
      <div class="order-table">
        <div class="list-group" id="orderList">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let order of listoforders" (click)="selectOrder(order)">
            <div class="d-flex w-100 justify-content-between" *ngIf="order.isActive">
              
            
            <p class="mb-1">Typ zlecenia: <strong>{{ order.orderTypeName.ordertypeName | order}}</strong></p>
            <p >Miejscowość: {{order.cityName}}</p>
            <p >Czas: {{order.duration}}</p>
            <p >Użytkownik: {{order.idOrdermaker.username}}</p>
            <p >Cena: {{order.value}}</p>
            <p >Status: {{order.statusName.statusesName | status}}</p>

            
            <button class="accept-order-button" (click)="takeOrder(order)" *ngIf="order.orderTypeName.ordertypeName === 'Take' ">Przyjmij Zlecenie</button> <!--ta nazwa to placeholder--> 
            

          </div>
          </a>
        </div>
      </div>
    </div>

  