<section class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <label for="orderTypeName" class="form-label">Wybierz typ zamówienia:</label>
            <select id="orderTypeName" class="form-select" formControlName="orderTypeName" [ngClass]="{'negative-input': isInNegative}">
              <option value="wantToSell" [ngClass]="{'negative-input': isInNegative}">Want to Sell</option>
              <option value="wantToBuy" [ngClass]="{'negative-input': isInNegative}">Want to Buy</option>
            </select>
          </div>
  
          <div class="row mb-3">
            <label for="cityName" class="form-label">Wybierz miejscowość:</label>
            <select id="cityName" class="form-select" formControlName="cityName" [ngClass]="{'negative-input': isInNegative}">
              <option *ngFor="let city of listofcities" [value]="city.name" [ngClass]="{'negative-input': isInNegative}">{{ city.name }}</option >
            </select>
          </div>
  
          <div class="row mb-3">
            <label for="cost" class="form-label">Cost:</label>
            <input id="cost" type="text" class="form-control" formControlName="cost" [ngClass]="{'negative-input': isInNegative}">
          </div>
  
          <div class="row mb-3">
            <label for="duration" class="form-label">Duration:</label>
            <input id="duration" type="text" class="form-control" formControlName="duration" [ngClass]="{'negative-input': isInNegative}">
          </div>
  
          <div *ngIf="orderTypeName === 'wantToSell'" class="row mb-3">
            <label for="x" class="form-label">X Coordinate:</label>
            <input id="x" type="text" class="form-control" formControlName="x" [ngClass]="{'negative-input': isInNegative}">
          </div>
  
          <div *ngIf="orderTypeName === 'wantToSell'" class="row mb-3">
            <label for="y" class="form-label">Y Coordinate:</label>
            <input id="y" type="text" class="form-control" formControlName="y" [ngClass]="{'negative-input': isInNegative}">
          </div>
  
          <button type="submit" class="btn btn-{{submitColor}}" [disabled]="profileForm.invalid">{{submitTextLanguage}}</button>
        </form>
      </div>
    </div>
  </section>
  